POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=domain_service
POSTGRES_PASSWORD= 
POSTGRES_DB=domain_service

EVENT_BUS_REDIS_HOST=localhost
EVENT_BUS_REDIS_PORT=6379
EVENT_BUS_REDIS_PASSWORD=
EVENT_BUS_REDIS_DB=0

LOG_LEVEL=info
LOKI_HOST=<loki host>

NODE_ENV=<development|production>
PORT=2557

ACCESS_TOKEN_PUBLIC_KEY_PATH = path/to/public/pem/file/public.pem
TOKEN_AUDIENCE = SecureWebIotPlatform
