EVENT_BUS_REDIS_HOST=localhost
EVENT_BUS_REDIS_PORT=6379
EVENT_BUS_REDIS_USERNAME=
EVENT_BUS_REDIS_PASSWORD=
EVENT_BUS_REDIS_DB=0


SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@domain.tld


OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://localhost:4318
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=mailer
OTEL_PROMETHEUS_PORT=9464