EVENT_BUS_REDIS_HOST=localhost
EVENT_BUS_REDIS_PORT=6379
EVENT_BUS_REDIS_USERNAME=
EVENT_BUS_REDIS_PASSWORD=
EVENT_BUS_REDIS_DB=0


SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@domain.tld