EVENT_BUS_REDIS_HOST=localhost
EVENT_BUS_REDIS_PORT=6379
EVENT_BUS_REDIS_USERNAME=
EVENT_BUS_REDIS_PASSWORD=
EVENT_BUS_REDIS_DB=0

EVENT_BUS_CONSUMER_GROUP=MAILER_SERVICE

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@domain.tld

OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_SERVICE_NAME=mailer
OTEL_PROMETHEUS_PORT=9468

HEALTH_CHECK_PORT=2560